
.nav {
    box-shadow: 0 2px 5px grey;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /* margin-bottom: 20px; */
  }
  .heading {
    font-size: 25px;
    background: linear-gradient(to right, #023e8a, #bde0fe, #023e8a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .section{
      display: flex;
      align-items: center;
      justify-content: center;
  }